<div class="page-content-wrapper ">

<div class="content sm-gutter">

<div data-pages="parallax">
<div class="container-fluid p-l-25 p-r-25 sm-p-l-0 sm-p-r-0">
<div class="inner">

<ol class="breadcrumb sm-p-b-5">
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item active">Página</li>
</ol>
</div>
</div>
</div>
