// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.dashboard-info{
    width:100%;

    &__not-solved{
        background:red;
        color:white;
    }
}
td{
    background:transparent !important;
}
